/* Try different box model properties below */
.pages__page {
  border: 5px solid #044583;
  border-radius: 8px;
  background: rgb(208, 211, 21);
}

* { border: 1px solid red; }

.country {
  padding: 8px;
  font-weight: bold;
}
